:root {
  --bgColor: #ada8b6;
  --boxColor: #ffeedb;
  --fontColor: #4c3b4d;
  --fontColorH1: #885053;
}

.night {
  --bgColor: #1a1a1a;
  --boxColor: #4c3b4d;
  --fontColor: #fce4d8;
  --fontColorH1: #896a67;
}

body {
  background-color: var(--bgColor);
}

.section1 {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 5px solid var(--fontColor);
  background-color: var(--boxColor);
  color: var(--fontColor);
}

h1 {
  color: var(--fontColorH1);
}

a {
  color: var(--fontColor);
}
